@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/vienna-1652804_1920.jpg');
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  gap: 0.5rem;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.books-header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 9rem;
  text-shadow: 0 0 5px black, 0 0 8px black;
  opacity: 90%;
  color: white;
  margin-top: 0.5rem;
  background-color: rgba(199, 36, 177, 0.2);
  width: 100rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.eyes {
  width: auto;
  height: 6rem;
  margin-top: 2.3rem;
}

.new-book {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-radius: 1rem;
  background-image: url(images/books-378903_1920.jpg);
}

.newBook {
  background-color: #371804;
  border-radius: 0.8rem;
  box-shadow: rgba(199, 36, 177, .2) 0 -25px 18px -14px inset,rgba(199, 36, 177, .15) 0 1px 2px,rgba(199, 36, 177, .15) 0 2px 4px,rgba(199, 36, 177, .15) 0 4px 8px,rgba(199, 36, 177, .15) 0 8px 16px,rgba(199, 36, 177, .15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.newBook:hover {
  box-shadow: rgba(199,36,177,.35) 0 -25px 18px -14px inset,rgba(199,36,177,.25) 0 1px 2px,rgba(199,36,177,.25) 0 2px 4px,rgba(199,36,177,.25) 0 4px 8px,rgba(199,36,177,.25) 0 8px 16px,rgba(199,36,177,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}  

.books {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border-radius: 1rem;
  background-color: rgba(77, 77, 255, 0.25);
  display: flex;
  flex-wrap: wrap;
}

.book_container {
  max-width: 8rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);  
  margin: 0.5rem;
}

.libro {
  width: 6.0rem;
  color: white;
  border-radius: 0.3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.bookForm {
  width: 20rem;
  background-color: antiquewhite;
  opacity: 70%;
}

form {
  background-color: white;
  padding: 3em;
  height: 15.5rem;
  margin-left: 1rem;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
}

input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.3);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

input:hover {
  background: rgba(255,255,255,0.6);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.4);
}

input:focus {
  background: rgba(255,255,255,1.5);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,1.0);
}

input[type="checkbox"] {
  box-shadow: none;
  text-shadow: none;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.form-control-check {
  display: grid;
  width: 3.2rem;
  height: auto;
  justify-content: center;
}

.read {
  margin-left: 2.6rem;
}

input[type="checkbox"]:focus {
  background: rgba(255,255,255,1.5);
  box-shadow: none;
}

label {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0,0,0,2.2);
  margin-right: 1rem;
}

.add {
  background-color: brown;
  border-radius: 0.8rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 12px;
  touch-action: manipulation;
}